h1, h2 {
	color:  #000 !important;
	font-family:  Arial Rounded MT Bold !important;
}
h1,
h2,
h4 {
    text-align: center
}

h4, li{
	font-family:  Arial !important; 
}

body {
	background-color: #f0e9ce;
}