.container {
    background-color: #f5eff0;
}

.background-img {
    height: 100vh;
    display: flex;
    margin: auto;
}

.button button {
    position: absolute;
    z-index: 2;
}

.button button:hover {
    
}

.stockings-button {
    left: 41%;
    bottom: 54%;
    height: 60px;
}